.select-task {
  margin-right: 15px;

  label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    // custom check tick
    .custom-check-mark {
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
      border-radius: 4px;
      background-color: $checkbox-background-color;
      border: 1px solid $checkbox-border-color;

      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 5px;
        top: 1px;
        width: 5px;
        height: 9px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    input {
      // hide the default input checkbox
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      // when checked, show the custom check mark
      &:checked {
        ~ .custom-check-mark {
          background: $selected-checkbox-border-color;

          &:after {
            display: block;
          }
        }
      }
    }

    // on mouse hover
    &:hover {
      input:not(:checked) {
        ~ .custom-check-mark {
          background-color: $hover-checkbox-border-color;
        }
      }
    }
  }
}
