@font-face {
  font-family: inter-semi-bold;
  src: url(/assets/font/inter-semi-bold.woff), url(/assets/font/inter-semi-bold.woff2);
}

@font-face {
  font-family: inter-medium;
  src: url(/assets/font/inter-medium.woff), url(/assets/font/inter-medium.woff2);
}

@font-face {
  font-family: inter-regular;
  src: url(/assets/font/inter-regular.woff), url(/assets/font/inter-regular.woff2);
}
