$aside-menu-background-color: #F9FAFA;
$aside-nav-link-background-color: transparent;
$aside-nav-link-color: #0854D9;

$active-aside-nav-link-background-color: #ECEEF0;
$active-aside-nav-link-color: #0854D9;
$active-aside-nav-link-border-color: #0854D9;
