$aside-menu-background-color: #F9FAFA;
$aside-nav-link-background-color: transparent;
$aside-nav-link-color: #0854D9;

$active-aside-nav-link-background-color: #ECEEF0;
$active-aside-nav-link-color: #0854D9;
$active-aside-nav-link-border-color: #0854D9;

$main-content-background-color: #FFF;

$top-nav-background-color: #FFF;
$top-nav-link-color: #737579;
$active-top-nav-link-color: #0854D9;
$active-top-nav-link-background-color: transparent;
$active-top-nav-link-border-color: #0854D9;

$section-title-color: #737579;

$task-card-background-color: white;
$task-card-hover-background-color: #F9FAFA;
$pinned-task-card-background-color: #F7FCFD;
$section-title-color: #909398;
$task-card-border-color: #DDE0E3;
$task-title-color: #2B2F36;
$task-description-color: #888C93;

$btn-pin-background-color: #EDF0F4;
$btn-done-background-color: #EDF0F4;
$btn-pin-active-background-color: #0854D9;
$btn-pin-active-border-color: #0854D9;

$btn-complete-background-color: #26D692;
$btn-complete-color: white;

$checkbox-background-color: transparent;
$checkbox-border-color: #DDE0E3;
$selected-checkbox-background-color: white;
$selected-checkbox-border-color: #0854D9;
$hover-checkbox-border-color: #0854D9;
