<div class="d-flex flex-column no-task-card">
    <div class="img-container">
        <img src="{{imageSrc}}" alt="No task found image" class="img-fluid">
    </div>
    <div class="no-task-msg">
        <p>{{@message}}</p>
    </div>
</div>
