<div class="container-fluid">
    <!--PAGE CONTENT-->
    <div class="row">
        <div class="col-2 aside-menu">
            <SideNav/>
        </div>
        <!--CONTENT SIDE-->
        <div class="col-10 content-wrapper">

            {{outlet}}

        </div>
    </div>
</div>
